parameters:
    paths:
        - src
    excludePaths:
        - tests
    level: 7
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
